[Unit]
Description=navcoin-angular
After=network.target
After=network-online.target
After=time-sync.target

[Service]
User=odroid
Type=simple
WorkingDirectory=/opt/navcoin-angular/
ExecStart=/opt/navcoin-angular/node_modules/@angular/cli/bin/ng serve --ssl true --proxy-config proxy.config.json --host 0.0.0.0
ExecStop=/bin/kill $MAINPID
TimeoutStopSec=300

[Install]
WantedBy=multi-user.target
